@import url("reset.css");

* { box-sizing: border-box; }


// colors
$red: hsl(357, 77%, 69%);
$background-grey: hsl(0, 0%, 85%);
$text-grey: hsl(0, 0%, 28%);
$accent-blue: hsl(185, 76%, 48%);
$dark-accent: hsl(0, 0%, 20%);
$body-font-size: calc(12px + 1vw);
$navbar-list-item-height: calc(50px + 3vh);


body{
	background-color: $background-grey;
	color: $text-grey;
	line-height: 1.25;
	font-size: $body-font-size;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

main{
	display: flex;
	flex-direction: column;
	margin-left: calc(10px + 1vw);
	margin-right: calc(10px + 1vw);
}

.name-and-link-heading-container{
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	align-items: center;
}

.name{
	font-size: calc(#{$body-font-size} * 3);
	font-weight: 3;
}

.heading-link-container{
	display: flex;
	justify-content: center;
}
.heading-link-image{
	img{ 
		width: calc(20px + 2vw);
		height: calc(20px + 2vw);
		margin-right: 5px;
		background-color: black;
	}
}
.first-name{
	color: $text-grey;
}

.last-name{
	color: $red;
}

.job-title-container{
	display: flex;
	justify-content: space-between;
	border-bottom: calc(1px + .5vw) solid $dark-accent;
	align-items: flex-end;
}

.title{
	font-size: calc(#{$body-font-size} * 1.5);
}
.title-first-word{
	color: $red;
}
.title-second-word{
	color: $text-grey;
}

.navbar-list{
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	margin-top: calc(25px + 3vh);
	margin-bottom: calc(25px + 3vh);
	margin-left: 30px;
	margin-right: 30px;
	font-weight: 400;
}

.navbar-list-item{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $red;
	border: 3px solid $dark-accent;
	cursor: pointer;
	user-select: none;
	// min-width: 150px;
	width: calc(150px + 10vw);
	text-align: center;
	min-height: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.list-item-text{
	width: 100%;
	// background-color: orange;
	min-height: 100px;
	height: $navbar-list-item-height;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:hover{
		background-color: lighten($red, 10);
	}
}

.about-container-container{
	display: flex;
	justify-content: center;
	// display: none;
}

.about-container{
	// display: none;
	background-color: white;
	border: 5px solid $dark-accent;
	padding: 20px;
	line-height: 2;
}

.project-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: calc(10px + 1.5vh);
	margin-bottom: calc(10px + 1.5vh);
	background-color: white;
	border: 5px solid $dark-accent;
}

.project-title-and-technology-container{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-bottom: 5px;
}
.project-title{
	color: $red;
	font-size: calc(#{$body-font-size} * 1.5);
}
.project-technology-list{

}
.project-technology-list-item{
	display: inline;
	text-shadow: 0 0 2px $red;
	font-size: $body-font-size;
	vertical-align: middle;
	i{
		font-size: calc(30px + 1vw);
		line-height: 1.5;
		text-shadow: 0 0 2px $red;
		margin-right: 10px;
		vertical-align: middle;
	}
}

.project-description{
	margin-top: 5px;
	margin-bottom: 5px;
}

.languages-and-tools-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.languages-container{
	display: flex;
	justify-content: center;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	margin-top: calc(10px + 3vh);
	background-color: white;
	border: 5px solid $dark-accent;
	padding: 20px;

}
.tools-container{
	display: flex;
	justify-content: center;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	margin-top: calc(10px + 3vh);
	background-color: white;
	border: 5px solid $dark-accent;
	padding: 20px;
	line-height: 1.5;
}

.languages-and-tools-list-item{
	display: inline;
	margin-left: 10px;
}

.links-container{
	display: flex;
	flex-direction: column;
	a{
		color: darken($accent-blue, 15);
	}
}
.video-container{

}

.video-play-button{
	cursor: pointer;
}

.contact-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	// margin-left: 50px;
	// margin-right: 50px;
	background-color: white;
	border: 5px solid $dark-accent;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 3;
	li{
		margin-left: 15px;
		list-style-type: none;
		word-wrap: break-word;
	}
		a{
		color: darken($accent-blue, 15);
	}
}
// manipulator classes
.accent-blue-border{
	border: 3px solid darken($accent-blue, 10);
}

.display-none{
	display: none;
}