@import url("reset.css");

* { -webkit-box-sizing: border-box; box-sizing: border-box; }


/* colors*/
$red: hsl(357, 77%, 69%);
$background-grey: hsl(0, 0%, 85%);
$text-grey: hsl(0, 0%, 28%);
$accent-blue: hsl(185, 76%, 48%);
$dark-accent: hsl(0, 0%, 20%);
$body-font-size: calc(12px + 1vw);
$navbar-list-item-height: calc(50px + 3vh);


body{
	background-color: $background-grey;
	color: $text-grey;
	line-height: 1.25;
	font-size: $body-font-size;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: calc(10px + 1vw);
	margin-right: calc(10px + 1vw);
}

.name-and-link-heading-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-weight: 500;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.name{
	font-size: calc(#{$body-font-size} * 3);
	font-weight: 3;
}

.heading-link-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.heading-link-image{
	img{ 
		width: calc(20px + 2vw);
		height: calc(20px + 2vw);
		margin-right: 5px;
		background-color: black;
	}
}
.first-name{
	color: $text-grey;
}

.last-name{
	color: $red;
}

.job-title-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: calc(1px + .5vw) solid $dark-accent;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.title{
	font-size: calc(#{$body-font-size} * 1.5);
}
.title-first-word{
	color: $red;
}
.title-second-word{
	color: $text-grey;
}

.navbar-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: calc(25px + 3vh);
	margin-bottom: calc(25px + 3vh);
	margin-left: 30px;
	margin-right: 30px;
	font-weight: 400;
}

.navbar-list-item{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: $red;
	border: 3px solid $dark-accent;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: 
	   none;
	    -ms-user-select: none;
	        user-select: none;
	min-width: 150px;
	width: calc(150px + 10vw);
	text-align: center;
	min-height: 100px;
	margin-left: 5px;
	margin-right: 5px;
}
.list-item-text{
	width: 100%;
	/* background-color: orange;*/
	min-height: 100px;
	height: $navbar-list-item-height;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	&:hover{
		background-color: lighten($red, 10);
	}
}

.about-container-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/* display: none;*/
}

.about-container{
	/* display: none;*/
}

.project-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: calc(10px + 1.5vh);
	margin-bottom: calc(10px + 1.5vh);
}

.project-title-and-technology-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.project-title{
	color: $red;
}
.project-technology-list{

}
.project-technology-list-item{
	display: inline;
	&:before{
		content:" • "
	}
}

.languages-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	margin-top: calc(10px + 3vh);
}
.tools-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	margin-top: calc(10px + 3vh);
}

.languages-and-tools-list-item{
	display: inline;
	margin-left: 10px;
}

.links-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	a{
		color: darken($accent-blue, 15);
	}
}

.contact-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 100px;
	margin-right: 100px;
		a{
		color: darken($accent-blue, 15);
	}
}
/* manipulator classes*/
.accent-blue-border{
	border: 3px solid darken($accent-blue, 10);
}

.display-none{
	display: none;
}